.gradle
/build/
/buildSrc/build
!gradle/wrapper/gradle-wrapper.jar

**/application/node_modules/
**/application/scripts/tmp/
/src/main/resources/templates/chrome.bat
/src/main/resources/templates/opera.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/