<!-- base layouts -->
<th:block th:fragment="main">                   <script src="../static/main.bundle.js" 
                                                             th:src="@{main.bundle.js}"></script></th:block>
<th:block th:fragment="music_content">          <script src="../static/music-content.bundle.js" 
                                                             th:src="@{music-content.bundle.js}"></script></th:block>
<!-- pages -->
<th:block th:fragment="genres">                 <script src="../static/genres.bundle.js" 
                                                             th:src="@{genres.bundle.js}"></script></th:block>
<th:block th:fragment="artists">                <script src="../static/artists.bundle.js" 
                                                             th:src="@{artists.bundle.js}"></script></th:block>
<th:block th:fragment="albums">                 <script src="../static/albums.bundle.js" 
                                                             th:src="@{albums.bundle.js}"></script></th:block>
<th:block th:fragment="songs">                  <script src="../static/songs.bundle.js" 
                                                             th:src="@{songs.bundle.js}"></script></th:block>
<th:block th:fragment="soundtracks">            <script src="../static/soundtracks.bundle.js" 
                                                             th:src="@{soundtracks.bundle.js}"></script></th:block>
<th:block th:fragment="thematic-compilations">  <script src="../static/thematic-compilations.bundle.js" 
                                                             th:src="@{thematic-compilations.bundle.js}"></script></th:block>
<th:block th:fragment="greetings">              <script src="../static/greetings.bundle.js" 
                                                             th:src="@{greetings.bundle.js}"></script></th:block>