<th:block th:fragment="genres">
<div class="genre container-with-background" th:each="genre : ${genres}">

    <div class="container-with-background__background-wrapper">
        <img th:src="@{${'/' + genre.imageSmName}}">
    </div>
    
    <div class="container-with-background__foreground-wrapper genre__content">
        <div class="container-with-background__background-wrapper genre__title-wrapper">
            <span th:text="${genre.name}"></span>
        </div>
    
        <div class="container-with-background__foreground-wrapper">
            <button class="btn-a btn-a--glow btn-a--genre-content" 	
               data-th-attr="data-item-page-url=@{/genres/{genreId}/artists(genreId=${genre.id})}"
               th:text="#{genre.btn.genre-content}">
            </button>
            <button class="btn-a btn-a--glow btn-a--genre-subgenres"
               data-th-attr="data-item-page-url=@{/genres/{genreId}/subgenres(genreId=${genre.id})}" 
               th:text="#{genre.btn.genre-subgenres}">
            </button>
        </div>
    </div>
       
</div>
</th:block>