<th:block th:fragment="genres-content">
<div class="row" th:include="fragments/shared :: controls"></div>

<div class="genres">
    <div class="genre" th:each="genre : ${genres}">

        <div class="container-with-background">
            
            <div class="container-with-background__background-wrapper">
                <img th:src="@{${genre.image}}">
            </div>
            
            <div class="container-with-background__foreground-wrapper genre__content">
                <div class="container-with-background">
                
                    <div class="container-with-background__background-wrapper genre__title-wrapper">
                        <span th:text="${genre.name}"></span>
                    </div>
                
                    <div class="container-with-background__foreground-wrapper">
                        <button class="btn-show-link btn-show-link--genre-content" 	
                           th:attr="data-content-url=@{${#request.getRequestURI() + '/' + genre.id + '/artists'}}">Показать</button>
                        <button class="btn-show-link btn-show-link--genre-subgenres"
                           th:attr="data-content-url=@{${#request.getRequestURI() + '/' + genre.id + '/subgenres'}}">Выбрать поджанры</button>
                    </div>

                </div>
            </div>
            
        </div>
            
    </div>
</div>

<div class="row" th:include="fragments/shared :: comments"></div>
</th:block>