<div class="navigation" th:fragment="navigation">
    <th:block th:each="navigationPoint : ${navigation}">
        <a class="navigation__link" th:href="${navigationPoint.navPath}">
            <span th:text="${navigationPoint.navLabel}"></span>
        </a>
        <span class="navigation__divider"><i class="fa fa-caret-right"></i></span>
    </th:block>
</div>


<div class="controls" th:fragment="controls">

</div>


<div class="comments" th:fragment="comments">

</div>

<th:block th:fragment="grid-collection-css">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/plugins/grid-collection.css"
              th:href="@{/plugins/grid-collection.css}"/>
</th:block>

<th:block th:fragment="grid-collection-script">
<script src="../static/plugins/lib/ResizeSensor.js"    th:src="@{/plugins/lib/ResizeSensor.js}"></script>
<script src="../static/plugins/grid-collection.js"     th:src="@{/plugins/grid-collection.js}"></script>
</th:block>