<div class="navigation" th:fragment="navigation">
    <th:block th:each="navigationPoint, iterStat : ${navigation}">
        <button class="btn-a btn-a--navigation" data-th-attr="data-item-page-url=@{${navigationPoint.uri}}">
            <span th:text="${navigationPoint.label}"></span>
        </button>
        <span th:if="${!iterStat.last}" class="navigation__divider"><i class="fa fa-caret-right"></i></span>
    </th:block>
</div>


<div class="controls" th:fragment="controls">

</div>


<div class="comments" th:fragment="comments">

</div>