
/**************************************/
/*************** Header ***************/
/**************************************/
.header {
	min-height: 140px;
	
	display: flex;
	flex-wrap: wrap;
	
	/* Grey */
	
	background: rgb(238,238,238); 
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	

	/* Yellow */
	/*
	background: rgb(254,252,234); 
	background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); 
	background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
	*/
	
	/* Green 1*/



	
	
	/* Green 2*/
	/*
	background: rgb(248,255,232); 
	background: -moz-linear-gradient(top,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); 
	background: linear-gradient(to bottom,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); 
	*/
}

.header__part {
	width: 100%;
	height: 140px;
	
	/* internal flex layout to center content vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header__part--left {
	flex: 0 0 500px; 	/* this flex attributes belongs to container */
						/* with class 'header' (not 'header__part')  */
						
	background-image: url("../images/header_left.png");
	background-size: cover;
	padding-left: 15px;
	padding-right: 150px;
	margin-right: -50px;
}

.header__part--center {
	flex: 1 1 220px; 	/* this flex attributes belongs to container */
	align-self: center; /* with class 'header' (not 'header__part')  */
}

.header__part--center  .header__title {
	text-align: center;
}

.header__part--right {
	flex: 0 0 500px; 	/* this flex attributes belongs to container */
						/* with class 'header' (not 'header__part')  */	
						
	background-image: url("../images/header_right.png");
	background-size: cover;
	padding-left: 150px;
	padding-right: 15px;
	margin-left: -50px;
}

@media only screen and (min-width: 1150px) {
	.header__part--left {
		order: 1;
	}
	
	.header__part--center {
		order: 2;
	}
	
	.header__part--right {
		order: 3;
	}
}

@media only screen and (min-width: 1020px) and (max-width: 1149px) {
	.header__part--left {
		order: 2;
		flex-basis: 550px;
	}
	
	.header__part--center {
		order: 1;
		flex: 1 1 100%;
		height: 85px;
	}
	
	.header__part--center  .header__title {

	}
	
	.header__part--right {
		order: 3;
		flex-basis: 550px;
	}
	
	.header {
		justify-content: space-between;
	}
}

@media only screen and (max-width: 1019px) {
	.header__part--left {
		order: 2;
		flex: 0 1 140px;
		padding-right: 15px;
		margin-right: 0px;
	}

	.header__part--center {
		order: 1;
		flex: 1 1 80px;
	}
	
	.header__part--center  .header__title {
	}
	
	.header__part--right {
		order: 3;
		flex: 0 1 140px;
		padding-left: 15px;
		margin-left: 0px;
	}

	.header {
		flex-direction: column;
	}
}


/**************************************/
/************* Search form ************/
/**************************************/
.form--search {
	width: 100%;
	
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
	padding: 5px;
}

.form--search  .form__title-panel {
	height: 40px;
}

.form--search  .form__title {
	margin-left: 15px;
	font-size: 24px;
}

.form--search  .form__row {
	display: flex;
}

.form--search  .form__input {
	flex: 1;
}

.form--search  .form__button {
	font-size: 1.4em;
	padding: 2px;
	width: 40px;
}


/**************************************/
/************* Login form *************/
/**************************************/
.form--login {
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
	padding: 5px;
}

.form--login  .form__title-panel {
	height: 40px;
	display: flex;
}

.form--login  .form__title {
	margin-left: 15px;
	margin-right: 5px;
	font-size: 24px;
}

.form--login  .form__social-link {
	width: 30px;
	height: 30px;
	font-size: 1.5em;
	padding: 0px;
	margin-left: 5px;
}

.form--login  .form__row {
	display: flex;
	align-items: center;
}

.form--login  .form__label {
	margin-right: 5px;
	font-size: 16px;
}

.form--login  .form__input {
	flex: 1;
}

.form--login  .form__button {
	font-size: 1.5em;
	padding: 1px;
	width: 40px;
}


/**************************************/
/********* Main content block *********/
/**************************************/
.main {
	
}

.main__content {

}

@media (min-width: 992px) {
	.row--equal-columns {
		display: flex;
	}

	.row--equal-columns > div[class*='col-'] {  
		display: flex;
		flex-direction: column;
	}
}


/**************************************/
/********** Right panel block *********/
/**************************************/

.main__right-panel {
	border-left: 3px solid rgba(178, 178, 178, 1);
	background: #fff;
}

.main__right-panel  .main__title {
	
}

.news-event {
	margin: 10px auto;
	padding: 4px 8px;
	min-height: 50px;
	width: 95%;
	
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(178, 178, 178, 1);
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(178, 178, 178, 1);
}


/**************************************/
/******* Music entities expanded ******/
/********** information block *********/
/**************************************/
.music-info {
	overflow: hidden;
	background: black;
}

.music-info  .fade-edge.fade-edge--bottom.fade-edge--white {
	height: 3px;
}

.music-info__background-img-wrapper  {
	width: 100%;
	height: auto;
	position: relative;
}

.music-info__background-img-wrapper img {
	width: 100%;
	height: auto;
}

.music-info__background-img-wrapper  .fade-edge.fade-edge--bottom.fade-edge--black {
	height: 100px;
}

.music-info__content {
	min-height: 150px;
	background: rgba(0, 0, 0, 0.5);
}

.music-info__title {
	text-align: center;
	margin: 0px;
	padding: 25px 0px 5px;
	color: white;
}

.music-info__expand-btn {
	margin: 4px auto 4px;
	
	padding: 5px 15px;
	height: 35px;
	
	display: block;
	
	border: none;
	color: white;
	background: rgba(0, 0, 0, 0);
	
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 	  0 0 8px rgba(255, 255, 255, 0.2),
				inset 0 0 8px rgba(255, 255, 255, 0.2);
}

.music-info__expand-btn-wrapper {
	padding: 10px 0px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.music-info__expand-btn-wrapper:before, .music-info__expand-btn-wrapper:after {
	width:  0;
	height: 0;
	
	content: "";
	
	display: block;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

.music-info__expand-btn-wrapper:before {
	border-bottom: 20px solid rgba(255, 255, 255, 0.3);
	display: none;
}

.music-info__expand-btn-wrapper:after {
	border-top: 20px solid rgba(255, 255, 255, 0.3);
	display: none;
}

.music-info__expand-btn-wrapper--show-before:before {
	display: block;
}

.music-info__expand-btn-wrapper--show-after:after {
	display: block;
}

@keyframes expand-music-info-btn {
    from {font-size: 16px;}
    to {font-size: 17px;}
}

.music-info__expand-btn:hover {
	background: rgba(0, 0, 0, 0);
	text-shadow: 0 0 50px rgb(255, 255, 255),
				 0 0 40px rgb(255, 255, 255),
				 0 0 35px rgb(255, 255, 255);
				 
	animation-name: expand-music-info-btn;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.music-info__expand-btn:focus {
	outline: none;
}

.music-info__expand-btn:active {
	text-decoration: none;
    color: #cccccc;
	text-shadow: 0 0 50px rgb(255, 255, 255),
				 0 0 40px rgb(255, 255, 255),
				 0 0 40px rgb(255, 255, 255),
				 0 0 35px rgb(255, 255, 255);
}

.music-info__details {
	color: white;
	padding: 25px 15px 10px;
	display: none;
}


/**************************************/
/********** Navigation block **********/
/**************************************/
.navigation {
	
}


/**************************************/
/************ Genres block ************/
/**************************************/
.genres {
	min-height: 800px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.genre {
	flex: 0 1 260px;
	height: 150px;
	
	margin: 10px;
	
	overflow: hidden;
	border: 0px solid rgba(178, 178, 178, 1);
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(178, 178, 178, 1);
}

.genre__content {
	background: rgba(0, 0, 0, 0.5);
}

.genre__title-wrapper {
	height: 100%;
	display: flex;
	justify-content: space-between;
    align-items: center;
	color: white;
	font-size: 36px;
}

.genre__title-wrapper:before, .genre__title-wrapper:after  {
	content: "";
	display: inline-block;
    height: 1px;
	width: 50%;
	margin: 10px;
	
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.5),
				0 0 8px rgba(255, 255, 255, 1),
				0 0 16px rgba(255, 255, 255, 1);
}


.genre__show-link {
	text-decoration: none;
	color: white;
	font-size: 16px;
	
	display: flex;
	width: 100%;
	height: 50%;
	justify-content: center;
    align-items: center;
}

.genre__show-link--top {
	padding-bottom: 10px;
}

.genre__show-link--bottom {
	padding-top: 10px;
}

.genre__show-link:visited {
	text-decoration: none;
    color: white;
}

@keyframes show-genre-link-hover {
    from {font-size: 16px;}
    to {font-size: 18px;}
}

.genre__show-link:hover {
	text-decoration: none;
    color: white;
	text-shadow: 0 0 50px rgb(255, 255, 255),
				 0 0 40px rgb(255, 255, 255),
				 0 0 35px rgb(255, 255, 255);
	
	animation-name: show-genre-link-hover;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.genre__show-link:focus {
	text-decoration: none;
    color: white;
}

.genre__show-link:active {
	text-decoration: none;
    color: #cccccc;
	text-shadow: 0 0 50px rgb(255, 255, 255),
				 0 0 40px rgb(255, 255, 255),
				 0 0 40px rgb(255, 255, 255),
				 0 0 35px rgb(255, 255, 255);
}


/**************************************/
/************ Artists block ***********/
/**************************************/
.artists {
	min-height: 800px;
	background: #eaffd8;
}


/**************************************/
/************ Albums block ************/
/**************************************/
.albums {
	min-height: 800px;
	background: #eaffd8;
}


/**************************************/
/************* Songs block ************/
/**************************************/
.songs {
	min-height: 800px;
	background: #eaffd8;
}


/**************************************/
/*********** Comments block ***********/
/**************************************/
.comments {
	min-height: 400px;
	background: #dbfcff;
}


/**************************************/
/*********** Controls block ***********/
/**************************************/
.controls {
	
}


/**************************************/
/*************** Footer ***************/
/**************************************/
.footer {
	min-height: 150px;
	background: #f7e4d2;
}

/**************************************/
/*************** Others ***************/
/**************************************/
/*
.container-with-background {
	position: relative;
	width: inherit;
	height: inherit;
}

.container-with-background__foreground-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

.container-with-background {
	width: 100%;
	height: 100%;
	
	position: relative;
}

.container-with-background__background-wrapper {
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
}

.container-with-background__foreground-wrapper {
	width: 100%;
	height: 100%;
	
	position: relative;
}

.fade-edge { /* Container must have position: relative; */
	position: absolute;
}

.fade-edge--bottom {
	bottom: 0;
	width: 100%;
}

.fade-edge--black {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.fade-edge--white {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
