<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments/main :: head"></th:block>
        <th:block th:replace="fragments/shared :: grid-collection-css"></th:block>
    </head>

    <body>
    
        <div class="container-fluid">
            
            <div class="header row" th:include="fragments/main :: header"></div>
            
            <div class="main row row--equal-columns">

                <!--/* ===== content markup ===== */-->
                <div class="music-content col-md-9">
                
                    <div class="row">

                        <div class="music-content__top-panel">
                        
                            <div class="music-info" th:include="fragments/music-content :: music-info"></div>
                         
                        </div>
                    </div>

                    <div class="row" th:include="fragments/shared :: navigation"></div>

                    <!--/* ===== content markup ===== */-->
                    <div th:replace="fragments/albums :: albums-content"></div>
                    <!--/* ========================== */-->

                </div>
                <!--/* ========================== */-->
                
                <div class="news-panel col-md-3" th:include="fragments/main :: news-panel"></div>
                
            </div>
        
            <div class="footer row" th:include="fragments/main :: footer"></div>
        
        </div>
        
        <script th:remove="all" src="../static/Static prototyping resources/thymol.js-2.x-master/thymol.js"
                   data-thymol-load="../static/Static prototyping resources/config/thPath.js,
                                     ../static/Static prototyping resources/config/thVars.js,
                                     ../static/Static prototyping resources/config/thMapping.js,
                                     ../static/Static prototyping resources/config/thScripts.js,
                                     ../static/Static prototyping resources/config/thRequests/thAlbumsRequest.js"></script>
                                     
        <th:block th:replace="fragments/main :: main-scripts"></th:block>
        
        <!--/* ===== scripts ===== */-->
        <script th:replace="fragments/music-content :: music-content-scripts"></script>
            <!--/* ===== scripts ===== */-->
            <script th:replace="fragments/albums :: albums-scripts"></script>
            <script th:replace="fragments/shared :: grid-collection-script"></script>
            <!--/* =================== */-->
        <!--/* =================== */-->

    </body>
        
</html>