<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <script th:remove="all" src="../application/prototyping_resources/thymol.js-2.x-master/thymol.js"
                   data-thymol-load="../application/prototyping_resources/config/thPath.js,
                                     ../application/prototyping_resources/config/thVars.js,
                                     ../application/prototyping_resources/config/thPages/thBaseConfig.js,
                                     ../application/prototyping_resources/config/thPages/thMainConfig.js"></script>
        <script src="../static/base-page.bundle.js" th:src="@{/base-page.bundle.js}"></script>
    </head>

    <body>
    
        <div class="container-fluid">
            
            <div class="header row" th:include="fragments/main :: header"></div>
            
            <div class="main row row--equal-columns">
            
                <div class="col-md-9">

                    <div class="row" th:include="fragments/menu :: menu"></div>
                
                    <div class="main__content col-md-9">
                        <!--/* ===== content markup ===== */-->
                        <div th:replace="fragments/_placeholders :: content"></div>
                        <!--/* ========================== */-->
                    </div>
                    
                    
                </div>
                
                <div class="news-panel col-md-3" th:include="fragments/main :: news-panel"></div>
            
            </div>
        
            <div class="footer row" th:include="fragments/main :: footer"></div>
        
        </div>

    </body>
        
</html>