<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music store</title>
    
    <link rel="stylesheet" type="text/css" media="all" 
          href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"
              th:href="@{/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css"
              th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/main.css" 									
              th:href="@{/css/main.css}"/>
    
</th:block>


<div class="header" th:fragment="header">
    <div class="header__part header__part--left">
        <form class="form form--search">
            <div class="form__title-panel">
                <span class="form__title">Поиск</span>
            </div>
            <div class="form__row">
                <label class="sr-only" for="search-critera">Search critera</label>
                <input class="form-control form__input" id="search-critera" placeholder="Введите критерий...">
                <button type="submit" class="btn btn-primary form__button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="header__part header__part--center">
        <h1 class="header__title">Music online</h1>
    </div>

    <div class="header__part header__part--right">
        <form class="form form--login">
            <div class="form__title-panel">
                <span class="form__title">Войти</span>
                <a class="btn btn-primary form__social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-primary form__social-link">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
                <a class="btn btn-primary form__social-link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </div>
            <div class="form__row">
                <input type="email" class="form-control form__input" id="email" placeholder="Enter e-mail address...">
                <button type="submit" class="btn btn-primary form__button">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<div class="news-panel" th:fragment="news-panel">
    <h1 class="news-panel__title">Новости</h1>
    <div class="news-panel__news-event border--hover-fade-blue" th:each="newsEvent : ${newsEvents}">
        <h4 class="" th:text="${newsEvent.title}"></h4>
        <p class="" th:text="${newsEvent.text}"></p>
    </div>
</div>

<div class="footer" th:fragment="footer">
</div>


<th:block th:fragment="shared-scripts">
<script src="../static/lib/jquery-3.1.1/jquery-3.1.1.min.js"         th:src="@{/lib/jquery-3.1.1/jquery-3.1.1.min.js}"></script>
<script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<script src="../static/lib/CSS-Element-Queries/ResizeSensor.js"      th:src="@{/lib/CSS-Element-Queries/ResizeSensor.js}"></script>
<script src="../static/lib/CSS-Element-Queries/ElementQueries.js"    th:src="@{/lib/CSS-Element-Queries/ElementQueries.js}"></script>

<script src="../static/js/jquery.flexbox-last-row-fix.js"            th:src="@{/js/jquery.flexbox-last-row-fix.js}"></script>
<script src="../static/js/main.js"                                   th:src="@{/js/main.js}"></script>

</th:block>


<div class="music-content col-md-9" th:fragment="music-content">
                
    <div class="row">

        <div class="music-content__top-panel">
        
            <div class="music-info">
                <div class="container-with-background">

                    <div class="container-with-background__background-wrapper">
                        <div class="music-info__background-img-wrapper">
                            <img th:src="@{${currentMusicEntity.imageLgUrl}}">
                            <div class="fade-edge fade-edge--bottom fade-edge--black"></div>
                        </div>
                    </div>
                    
                    <div class="container-with-background__foreground-wrapper music-info__content">
                        <h1 class="music-info__title" th:text="currentMusicEntity.name"></h1>
                        
                        <div class="music-info__details" th:replace="music-details">
                            <!-- content -->
                        </div>
                        
                        <div class="music-info__expand-btn-wrapper music-info__expand-btn-wrapper--show-after">
                            <button class="music-info__expand-btn show-link">Прочитать описание</button>
                        </div>
                    </div>
                    
                    <div class="fade-edge fade-edge--bottom fade-edge--white"></div>
                </div>
            </div>
                
      </div>
    </div>

    <div class="row">
        <div th:replace="navigation"></div>
    </div>

    <div class="row">
        <div class="controls">
        </div>
    </div>

    <div class="row">
        <div class="flex-collection" th:attrprepend="class=${musicEntitiesListPage + ' '}">
            <div th:replace="${musicEntitiesListPage}"></div>
        </div>
    </div>

    <div class="row">
        <div th:replace="comments"></div>
    </div>

</div>

<th:block th:fragment="music-content-scripts">
<script src="../static/js/music-content.js" th:src="@{/js/music-content.js}"></script>
</th:block>     


<div class="greetings col-md-9" th:fragment="greetings">
    <div class="row">
        <div class="greetings__top-panel container-with-foreground">
            <div class="container-with-foreground__foreground-wrapper menu menu--center">
                <a class="menu__link" href="#"><span>Жанры</span></a>
                <a class="menu__link" href="#"><span>Подборки песен</span></a>
                <a class="menu__link" href="#"><span>Саундтреки</span></a>
            </div>
            <div class="menu__background"></div>
        </div>
    </div>
    
    <p class="greetings__header">
        Welcome!
    </p>
    <p class="greetings__text">
        Music online is a good place to listen a good music. 
    </p>
</div>

