<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Music store</title>

		<link rel="stylesheet" type="text/css" media="all"
              href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"
              th:href="@{/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" media="all"
              href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css"
              th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../static/css/styles.css"
              th:href="@{/css/styles.css}" />
			  
    </head>

    <body>

		<div class="container-fluid">
			<div class="row header">
				<div class="header__part header__part--left">
					<form class="form form--search">
						<div class="form__title-panel">
							<span class="form__title">Поиск</span>
						</div>
						<div class="form__row">
							<label class="sr-only" for="search-critera">Search critera</label>
							<input class="form-control form__input" id="search-critera" placeholder="Введите критерий...">
							<button type="submit" class="btn btn-primary form__button">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</form>
				</div>

				<div class="header__part header__part--center">
					<h1 class="header__title">Music online</h1>
				</div> 
								
				<div class="header__part header__part--right">
					<form class="form form--login">
						<div class="form__title-panel">
							<span class="form__title">Войти</span>
							<a class="btn btn-primary form__social-link">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a class="btn btn-primary form__social-link">
								<i class="fa fa-google-plus-square" aria-hidden="true"></i>
							</a>
							<a class="btn btn-primary form__social-link">
								<i class="fa fa-vk" aria-hidden="true"></i>
							</a>
						</div>
						<div class="form__row">
							<input type="email" class="form-control form__input" id="email" placeholder="Enter e-mail address...">
							<button type="submit" class="btn btn-primary form__button">
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</button>							
						</div>
					</form>
				</div>
			</div>
			
			<div class="row row--equal-columns main">
				<div class="col-md-9 main__center">
					<div class="row main__content-section">
						<div class="music-entity-info">
							<h1 class="music-entity-info__title">Music entity info</h1>
							<button class="music-entity-info__expand-btn">Прочитать описание</button>
							<div class="music-entity-info_details">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
						<div class="navigation">
							return -> Music entity One -> Music entity Two
						</div>
						<div class="music-entities">
							Music entities
						</div>
					</div>
					<div class="row main__comments-section">
						Row 2
					</div>
				</div>
				<div class="col-md-3 main__right-panel">
					<h1 class="main__title">Новости</h1>
					<div class="news-event">
						Некоторое новостное событие Один
					</div>
					<div class="news-event">
						Некоторое новостное событие Два
					</div>
				</div>
			</div>
			
			
			<div class="row footer">
			</div>
		</div>


		<script src="../static/lib/jquery-3.1.1/jquery-3.1.1.min.js"
				th:src="@{/lib/jquery-3.1.1/jquery-3.1.1.min.js}">
		</script>
		<script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"
				th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}">
		</script>
		
		<script src="../static/js/index.js"
				th:src="@{js/index.js}">
		</script>
		
    </body>
</html>