<div class="row music-info">
	<div class="container-with-background">

		<div class="container-with-background__background-wrapper">
			<div class="music-info__background-img-wrapper">
				<img th:src="@{${currentGenre.imageLg}}">
				<div class="fade-edge fade-edge--bottom fade-edge--black"></div>
			</div>
		</div>
		
		<div class="container-with-background__foreground-wrapper music-info__content ">
			<h1 class="music-info__title">Music entity info</h1>
			
			<div class="music-info__details" th:replace="music-details">
				<!-- content -->
			</div>
			
			<div class="music-info__expand-btn-wrapper music-info__expand-btn-wrapper--show-after"><button class="music-info__expand-btn">Прочитать описание</button></div>
		</div>
		
		<div class="fade-edge fade-edge--bottom fade-edge--white"></div>
		
	</div>
</div>

<div class="row navigation">
	return -> Music entity One -> Music entity Two
</div>

<!-- Load if present, otherwise throw this tag away -->
<div class="row">
	<div class="controls">
	</div>
</div>

<div class="row">
	<div class="genres" th:replace="genres">
	</div>
</div>

<!-- Load if present, otherwise throw this tag away -->
<div class="row">
	<div class="comments">
	</div>
</div>

<script src="../static/js/main-content.js"	th:src="@{/js/main-content.js}"></script>