<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Music store</title>
		
		<link rel="stylesheet" type="text/css" media="all"
              href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" 	th:href="@{/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}"  />
		<link rel="stylesheet" type="text/css" media="all"
              href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css" 	th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../static/css/main.css" 									th:href="@{/css/main.css}" />
		
    </head>

    <body>

		<div class="container-fluid">
			<div class="row header">
				<div class="header__part header__part--left">
					<form class="form form--search">
						<div class="form__title-panel">
							<span class="form__title">Поиск</span>
						</div>
						<div class="form__row">
							<label class="sr-only" for="search-critera">Search critera</label>
							<input class="form-control form__input" id="search-critera" placeholder="Введите критерий...">
							<button type="submit" class="btn btn-primary form__button">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</form>
				</div>

				<div class="header__part header__part--center">
					<h1 class="header__title">Music online</h1>
				</div> 
								
				<div class="header__part header__part--right">
					<form class="form form--login">
						<div class="form__title-panel">
							<span class="form__title">Войти</span>
							<a class="btn btn-primary form__social-link">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a class="btn btn-primary form__social-link">
								<i class="fa fa-google-plus-square" aria-hidden="true"></i>
							</a>
							<a class="btn btn-primary form__social-link">
								<i class="fa fa-vk" aria-hidden="true"></i>
							</a>
						</div>
						<div class="form__row">
							<input type="email" class="form-control form__input" id="email" placeholder="Enter e-mail address...">
							<button type="submit" class="btn btn-primary form__button">
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</button>							
						</div>
					</form>
				</div>
			</div>
			
			<div class="row row--equal-columns main">
			
				<div class="col-md-9 main__content">
				
					<div th:replace="main-content">
					<!-- Content must be loaded asynchronously during runtime -->
					</div>
				
				</div>
				
				<div class="col-md-3 main__right-panel">
					<h1 class="main__title">Новости</h1>
					<div class="news-event">
						Некоторое новостное событие Один
					</div>
					<div class="news-event">
						Некоторое новостное событие Два
					</div>
				</div>
				
				<div class="row footer">
				</div>
				
			</div>

		<script src="../static/Static prototyping resources/thymol.js-2.x-master/thymol.js" 
				data-thymol-load="../static/Static prototyping resources/config/setThPath.js, 
								  ../static/Static prototyping resources/config/setThVars.js"></script>
		
		<script src="../static/js/Utils.js" 		 							 th:src="@{/js/Utils.js}"></script>
		<script src="../static/js/flex-box-last-row-fix.js" 					 th:src="@{/js/flex-box-last-row-fix.js}"></script>
		<script src="../static/lib/CSS-Element-Queries/ResizeSensor.js" 		 th:src="@{/lib/CSS-Element-Queries/ResizeSensor.js}"></script>
		<script src="../static/lib/CSS-Element-Queries/ElementQueries.js"		 th:src="@{/lib/CSS-Element-Queries/ElementQueries.js}"></script>
		<script src="../static/lib/jquery-3.1.1/jquery-3.1.1.min.js"			 th:src="@{/lib/jquery-3.1.1/jquery-3.1.1.min.js}"></script>
		<script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"	 th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
		
    </body>
</html>
