<div class="music-info__details">
	<p>
		Рок-му́зыка (англ. Rock music) — обобщающее название ряда направлений популярной музыки. Слово rock (в переводе с английского «качать», «укачивать», «качаться») в данном случае указывает на характерные для этих направлений ритмические ощущения, связанные с определённой формой движения, по аналогии с roll, twist, swing, shake… Такие признаки рок-музыки, как использование электромузыкальных инструментов, творческая самодостаточность (для рок-музыкантов характерно исполнение композиций собственного сочинения), являются вторичными и часто вводят в заблуждение. По этой причине принадлежность некоторых стилей музыки к року оспаривается.
	</p>
	<p>
		Такие субкультуры, как моды, хиппи, панки, металлисты, готы, эмо, индирокеры, СКА неразрывно связаны с определёнными жанрами рок-музыки.
	</p>
</div>