<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:replace="fragments :: head"></th:block>
    </head>

    <body>
    
        <div class="container-fluid">
            
            <div class="header row" th:include="fragments :: header"></div>
            
            <div class="main row row--equal-columns">

                <!--/* ===== content markup ===== */-->
                <div th:replace="fragments :: music-content"></div>
                <!--/* ========================== */-->
                
                <div class="news-panel col-md-3" th:include="fragments :: news-panel"></div>
                
            </div>
        
            <div class="footer row" th:include="fragments :: footer"></div>
        
        </div>
        
        <script th:remove="all" src="../static/Static prototyping resources/thymol.js-2.x-master/thymol.js"
                   data-thymol-load="../static/Static prototyping resources/config/thPath.js,
                                     ../static/Static prototyping resources/config/thVars.js,
                                     ../static/Static prototyping resources/config/thMapping.js"></script>
                                     
        <th:block th:replace="fragments :: shared-scripts"></th:block>
        
        <!--/* ===== scripts ===== */-->
        <script th:replace="fragments :: music-content-scripts"></script>
        <!--/* =================== */-->

    </body>
        
</html>