<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: page">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="content">
            my page content
        </div>
    </body>
    
            <script th:remove="all" src="../static/Static prototyping resources/thymol.js-2.x-master/thymol.js"
                   data-thymol-load="../static/Static prototyping resources/config/setThPath.js,
                                     ../static/Static prototyping resources/config/setThVars.js"></script>
</html>