<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <script>var thPrototypingMode = false;</script>
        <script th:remove="all" src="../application/prototyping_resources/thymol.js-2.x-master/thymol.js"
                   data-thymol-load="../application/prototyping_resources/config/thPath.js,
                                     ../application/prototyping_resources/config/thVars.js,
                                     ../application/prototyping_resources/config/thScripts.js,
                                     ../application/prototyping_resources/config/thPages/thMainConfig.js,
                                     ../application/prototyping_resources/config/thPages/thSongsConfig.js"></script>
        <script src="../static/application.bundle.js" th:src="@{/application.bundle.js}" data-initial-page-init="songs"></script>
    </head>

    <body>
    
        <div class="container-fluid">
            
            <div class="header row" th:include="fragments/main :: header"></div>
            
            <div class="main row row--equal-columns">

                <div class="col-md-9">
                
                    <div class="row" th:include="fragments/menu :: menu"></div>
            
                    <div class="main__content" id="main__content">
                        <!--/* ===== content markup ===== */-->
                        <div class="music-info row" th:include="fragments/music-info :: music-info"></div>
                        <div class="navigation row" th:include="fragments/shared :: navigation"></div>

                        <div class="controls row" th:include="fragments/shared :: controls"></div>
                        <div class="music-collection" th:include="fragments/songs :: songs"
                                data-th-attr="data-initial-next-page-url=${initialNextPageUrl}"></div>
                        <div class="comments row" th:include="fragments/shared :: comments"></div>
                        <!--/* ========================== */-->
                    </div>
                    
                </div>
                
                <div class="news-panel col-md-3" th:include="fragments/main :: news-panel"></div>
                
            </div>
        
            <div class="footer row" th:include="fragments/main :: footer"></div>
        
        </div>

    </body>
        
</html>
