<div class="thematic-collections object-collection" th:fragment="thematic-compilations">

	<div class="thematic-collection object-collection__item" th:each="thematicCompilation : ${thematicCompilations}">
	
		<div class="container-with-background">
			
			<div class="container-with-background__background-wrapper">
				<img th:src="@{${thematicCompilation.image}}">
			</div>
			
			<div class="container-with-background__foreground-wrapper thematic-collection__content">
				<a class="show-link show-link--thematic-collection" href="#"><span th:text="${thematicCompilation.name}"></span></a>
			</div>
			
		</div>
			
	</div>

</div>

<script src="../static/js/thematic-compilations.js" th:src="@{/js/thematic-compilations.js}"></script>