<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <script th:remove="all" src="../application/prototyping_resources/thymol.js-2.x-master/thymol.js"
                   data-thymol-load="../application/prototyping_resources/config/thPath.js,
                                     ../application/prototyping_resources/config/thVars.js,
                                     ../application/prototyping_resources/config/thMapping.js,
                                     ../application/prototyping_resources/config/thScripts.js,
                                     ../application/prototyping_resources/config/thRequests/thThematicCompilationsRequest.js"></script>
        <th:block th:replace="fragments/_bundles :: thematic-compilations"></th:block>
    </head>

    <body>
    
        <div class="container-fluid">
            
            <div class="header row" th:include="fragments/main :: header"></div>
            
            <div class="main row row--equal-columns">

                <!--/* ===== content markup ===== */-->
                <div class="music-content col-md-9">
                
                    <div class="row">

                        <div class="music-content__top-panel">
                        
                            <div class="music-info" th:include="fragments/music-content :: music-info"></div>
                         
                        </div>
                    </div>

                    <div class="row" th:include="fragments/shared :: navigation"></div>

                    <!--/* ===== content markup ===== */-->
                    <div th:replace="fragments/thematic-compilations :: thematic-compilations-content"></div>
                    <!--/* ========================== */-->

                </div>
                <!--/* ========================== */-->
                
                <div class="news-panel col-md-3" th:include="fragments/main :: news-panel"></div>
                
            </div>
        
            <div class="footer row" th:include="fragments/main :: footer"></div>
        
        </div>

    </body>
        
</html>